* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/img/fondo_login.jpg'); 
    background-size: contain;
    color: white;
}

.header, .footer {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.header img {
    height: 50px;
    margin-right: 10px;
}

.nav a {
    font-size: 18px;
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-family: "Bebas Neue", sans-serif;
}

.nav a:hover {
    color: #ff1e1e;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* FORMULARIO */

aside{
    display: flex;
    justify-content: center;
    margin: 100px;
}

.formulario {
    background-color: rgba(15, 0, 0, 0.705);
    width: 400px;
    padding: 40px;
    border-radius: 5px;
    text-align: center;
}

.formulario h3 {
    font-size: 25px;
    margin: 10px 0;
    padding: 15px
    
}

.controles {
    width: 100%;
    background-color: rgb(221, 243, 247);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: none;
    font-size: 16px;
}

.footer {
    text-align: center;
}

.footer img{
    width: 15%;
    margin: 10px;
}

.footer h5{
    color: #ff0000;
}

.footer p{
    padding: 5px;
}

.footer .social-media {
    margin: 10px 0;
}

.footer .social-media-link {
    color: white;
    margin: 0 10px;
    font-size: 24px;
    text-decoration: none;
}

.footer .social-media-link:hover {
    color: #ff1e1e;
}

.poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}